//Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

//Colours
$body-color:#eee;
$bg-color: #d9d8ba;
$base-color: #488400;

//fonts
$font-family: "Open Sans", sans-serif;
$normal: 400;
$bold: 700;

//borders
$base-radius : 8px;

//paddings and margins
$base-padding:20px;